<div class="new-post">
  <header class="new-header">
    <h1><%= link_to image_tag("logo.png", class: "logo-new", alt: "Trip360°"), root_path %></h1>
    <h3 class="post-heading">新規登録画面</h3>
  </header>

  <div class="contents-user">
    <div class="container-user">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :"ニックネーム", class: "user-label" %><br />
        <%= f.text_field :nickname, class:"input-default", id:"password", placeholder:"trip花子" %>
      </div>

      <div class="field">
        <%= f.label :"メールアドレス", class: "user-label" %><br />
        <%= f.email_field :email, class:"input-default", id:"password", placeholder:"aaa@aa.com" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード", class: "user-label" %><br />
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード再入力", class: "user-label" %><br />
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
      </div>

      <div class="field">
        <div class="user-label">性別</div>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"input-default", id:"item-category"}) %>
      </div>

      <div class="field">
        <div class="user-label">お住まいの都道府県</div>
        <%= f.collection_select(:residence_id, Residence.all, :id, :name, {}, {class:"input-default", id:"item-category"}) %>
      </div>

      <div class="field">
        <div class="user-label">年齢</div>
        <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"input-default", id:"item-category"}) %>
      </div>

      <div class="field">
        <%= f.label :"プロフィール" %><br />
        <%= f.text_area :profile, class:"input-default", id:"password", placeholder:"旅する大学生！" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録する" %>
      </div>

      <% end %>
    </div>
  </div>
  <footer>
  </footer>
</div>
