<div id="home" class="big-bg">
  <header class="page-header wrapper">
    <h1><%= link_to image_tag("logo.png", class: "logo", alt: "Trip360°"), root_path %></h1>
    <nav>
    <% if user_signed_in? %>
      <ul class="main-nav">
        <li><%= link_to '投稿する', new_tweet_path, class: "post" %></li> 
        <li><%= link_to 'マイページ', "/users/#{current_user.id}", class: "post"%></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "post" %></li>
      </ul>
      <p class="welcome">ようこそ <%= current_user.nickname %> さん</p>
    <% else %>
      <ul class="main-nav">
        <li><%= link_to 'ログイン', new_user_session_path, class: "post" %></li> 
        <li><%= link_to '新規登録', new_user_registration_path, class: "post" %></li>
      </ul>
    <% end %>
    </nav>
  </header>

  <div class="home-content wrapper">
    <h2 class="page-title">Share your wonderful photos</h2>
    <P>素敵な写真を共有しましょう</P>
  </div>
</div>

<h3>最新投稿一覧</h3>

<div class="grid">
  <ul class='tweet-list'>
    <% @tweets.each do |tweet| %>
    <li class="tweet-item">
      <div class="tweet-name">
        <%= link_to tweet.user.nickname, user_path(tweet.user) %>
      </div>
      <div class="tweet-image">
        <%= image_tag tweet.image.variant(resize: '600x300') if tweet.image.attached? %>
      </div>
      <div class="tweet-title">
        <p><%= tweet.title %></p>
      </div>
    </li>
    <% end %>
  </ul>
<div>
<footer>
</footer>