<div class="new-post">
  <header class="new-header">
    <h1><%= link_to image_tag("logo.png", class: "logo-new", alt: "Trip360°"), root_path %></h1>
    <h3 class="post-heading">投稿する</h3>
  </header>

  <div class="contents-row">
    <div class="contents">
      <div class="container">
        <%= form_with(model: @tweet, local: true, class: "my-form-class") do |f| %>
          <div class="img-upload">
            <div class="weight-bold-text">
            商品画像
              <span class="indispensable">※必須</span>
            </div>
            <div class="click-upload">
              <p>
              クリックしてファイルをアップロード
              </p>
              <%= f.file_field :image, id:"tweet-image" %>
            </div>
          </div>
          <div class="weight-bold-text">
          <p>時期</p>
          <%= f.date_field :shooting_day, placeholder: "2024/01/01", class: "form-class"%>
          </div>
          <div class="weight-bold-text">
          <p>場所 <span class="indispensable">※必須</span></p>
          <%= f.text_field :residence_id, placeholder: "都道府県を選択", class: "form-class"%>
          </div>
          <div class="weight-bold-text">
          <p>場所</p>
          <%= f.text_field :city, placeholder: "市町村を入力", class: "form-class"%>
          </div>
          <div class="weight-bold-text">
          <p>スポット名</p>
          <%= f.text_field :spot, placeholder: "スポット名を入力", class: "form-class"%>
          </div>
          <div class="weight-bold-text">
          <p>タイトル <span class="indispensable">※必須</span></p>
          <%= f.text_field :title, placeholder: "タイトルを入力(30文字まで)", rows: "10",class: "form-class" %>
          </div>
          <div class="weight-bold-text">
          <p>コメント <span class="indispensable">※必須</span></p>
          <%= f.text_area :text, placeholder: "体験や感想、おススメな点など(100文字まで)", class: "form-class" %>
          </div>
          <%= f.submit "投稿する", class: "send-class" %>
        <% end %>
      </div>
    <div>
  <div>
  <footer>
  </footer>
</div>

<%# 商品画像 %>
    <%# <div class="img-upload">
      <div class="weight-bold-text">
        商品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      <%# </div>
    </div> %> 
    <%# /商品画像 %>